<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <meta charset="utf-8">
    <title>The greatest news app ever</title>
  </head>
  <body>
    <div class="container" id="app">
      <h3 class="text-center">ueNews</h3>
    <div class="columns medium-6" v-for="result in results">
        <div class="card">
            <div class="card-divider">
              {{ result.title }}
              </div>
             <div class="card-section">
             <p>{{ result.abstract }}.</p>
             </div>
       </div>
       </div>
    </div>
    <div id="app-2">

    </div>
    <div>
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
        <script src="app.js"></script>



  </body>
</html>
